@{ 
    string ActiveNav(string controller, string action)
    {
        string currentAction = ViewContext.RouteData.Values["Action"].ToString();
        string currentController = ViewContext.RouteData.Values["Controller"].ToString();
        if (controller == currentController && action == currentAction) {
            return "active";
        }
        return "";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sportspro.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <title> @ViewBag.Title | SportsPro</title> <!-- CHANGE PAGE TITLE -->
</head>
<body>
    <div class="wrap">
        <header>
            <div class="container">
                <div id="logo">
                    <img src="/img/sportsProLogo.png" alt="SportsPro">
                </div>
                <div id="nav">
                    <nav>
                        <a class="@ActiveNav("Home", "Index")" href="/">Home</a>
                        <a class="@ActiveNav("Product", "Index")"href="/products">Products</a>
                        <a class="@ActiveNav("Technician", "Index")"href="/technicians">Technicians</a>
                        <a class="@ActiveNav("Customer", "Index")"href="/customers">Customers</a>
                        <a class="@ActiveNav("Incident", "Index")"href="/incidents">Incidents</a>
                        <a class="@ActiveNav("Registration", "Index")" href="/registrations">Registrations</a> <!-- LINK NEEDED -->
                        <a class="@ActiveNav("Home", "About")"href="/about">About</a>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div id="top">
                <div class="container">
                    <h1>@ViewBag.Heading</h1> <!-- CHANGE HEADING -->
                    <p>@ViewBag.Desc</p> <!-- CHANGE HERE AS WELL -->
                </div>
            </div>
            <div class="mainContents">
                
                <div class="container">
                    @if (TempData["alertMessage"] != null)
                    {
                    <div class="@TempData["alertClass"] @TempData["actionClass"]">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>@TempData["alertMessage"]</strong>.
                    </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>