@model IncidentViewModel
@{
    ViewBag.Title = "Edit Incident";
}

<form class="addEditForm" asp-action="Edit" method="post">
    <h2 class="subHeading">Incident Information</h2>
    <div>
        <label>Technician:      @Model.Incident.Technician.FirstName @Model.Incident.Technician.LastName</label>
        <input type="hidden" asp-for="Incident.TechnicianId" value="@Model.Incident.TechnicianId"/>
        <label>Customer:        @Model.Incident.Customer.FirstName @Model.Incident.Customer.LastName</label>
        <input type="hidden" asp-for="Incident.CustomerId" value="@Model.Incident.CustomerId"/>
        <label>Product:         @Model.Incident.Product.Name</label>
        <input type="hidden" asp-for="Incident.ProductId" value="@Model.Incident.ProductId" />
        <label>Title:           @Model.Incident.Title</label>
        <input type="hidden" asp-for="Incident.Title" value="@Model.Incident.Title"/>
        <label>Date Opened:     @Model.Incident.DateOpened</label>
        <input type="hidden" asp-for="Incident.DateOpened" value="@Model.Incident.DateOpened" />
    </div>
    <div>
            <label asp-for="@Model.Incident.Description">Description</label>
            <input asp-for="@Model.Incident.Description" />
            <span asp-validation-for="@Model.Incident.Description" class="text-danger"></span>
    </div>
    <div>
            <label asp-for="@Model.Incident.DateClosed">Date Closed</label>
            <input type="text" id="DateClosed" asp-for="@Model.Incident.DateClosed" />
    </div>

    <div>
        <input type="hidden" asp-for="@Model.Incident.IncidentId" />
        <button class="fBtn" type="submit">Save</button>
        <a class="fBtn" asp-action="RedirectIncidents" asp-route-id="@Model.Incident.TechnicianId">Cancel</a>
    </div>
</form>
