@model IncidentListViewModel
@{
    ViewBag.Title = "List Incidents";
}

<label>Technician: @Model.Technician.FirstName @Model.Technician.LastName</label>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="font">Title</th>
            <th class="font">Customer</th>
            <th class="font">Product</th>
            <th class="font">Date Opened</th>
            <th class="font">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Incident incident in Model.Incidents)
            {
             <tr>
                 <td>@incident.Title</td>
                 <td>@incident.Customer.FirstName @incident.Customer.LastName</td>
                 <td>@incident.Product.Name</td>
                 <td>@incident.DateOpened</td>
                 <td>
                     <a class="btn btn-primary" asp-action="Edit" asp-route-id="@incident.IncidentId">Edit</a>
                 </td>
             </tr>
            }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="GetTechnician">Switch Technician</a>
