@model Customer
@{
    ViewBag.Title = "Delete";
    ViewBag.Highlight = "Customer";
}


<div class="wrap">
    <form asp-action="Delete" method="post">

        <div class="container">
            @if (ViewBag.Warning == 0)
            {

                <div class="container">
                    <h2 class="subHeading">Confirmation</h2>
                    <p id="deleteMessage">Are you sure you want to delete the customer @Model.FirstName @Model.LastName?</p>
                    <div>
                        <button class="fBtn" type="submit">Yes</button>
                        <a class="cancelB" asp-action="Index">Cancel</a>
                    </div>
                </div>
            }
            else
            {
                <h2 class="subHeading">Update Incident</h2>
                <p id="deleteMessage">
                    The customer @Model.FirstName @Model.LastName is assigned to an incident!<br />
                    Please update the incidents below in order to delete this Customer.
                </p>

                @foreach (Incident incident in ViewBag.Incidents)
                {
                    <a class="fBtn" asp-action="Edit" asp-controller="Incident" asp-route-id="@incident.IncidentId">@incident.Title</a>
                }
                <a class="cancelB" asp-action="Index">Cancel</a>

            }

        </div>

    </form>
</div>

